body {
  font-family: 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', YuGothic, 'ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3', 'Hiragino Kaku Gothic Pro', 'ãƒ¡ã‚¤ãƒªã‚ª', Meiryo, Arial, Sans-Serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

img {
  vertical-align: top;
}

a {
  color:#000;
  text-decoration: none;
}

.hvr_anim {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.hvr_anim:hover {
  opacity: 0.5;
}

.ykhnjp {
  font-family: YakuHanJP, "Hiragino Sans", Meiryo, sans-serif;
}
.ykhnjp_l {
  font-family: YakuHanJP, "Hiragino Sans", Meiryo, sans-serif;
  font-weight:100;
}
.ykhnjp_n {
  font-family: YakuHanJP, "Hiragino Sans", Meiryo, sans-serif;
  font-weight:300;
}
.ykhnjp_b {
  font-family: YakuHanJP, "Hiragino Sans", Meiryo, sans-serif;
  font-weight:700;
}
.ykhnjp_200 {
  font-family: YakuHanJP, "Hiragino Sans", Meiryo, sans-serif;
  font-weight:200;
}
.noto {
  /*font-family: 'Noto Sans JP', 'ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3', 'Hiragino Kaku Gothic Pro', 'ãƒ¡ã‚¤ãƒªã‚ª', Meiryo, Arial, Sans-Serif;*/
  font-family: 'Microsoft YaHei', sans-serif;
  font-style: normal;
}
.noto_l {
  font-family: 'Microsoft YaHei', sans-serif;
  /*font-family: 'Noto Sans JP', sans-serif;*/
  font-weight: 100;
}
.noto_n {
  font-family: 'Microsoft YaHei', sans-serif;
  font-weight: 300;
}
.noto_b {
  font-family: 'Microsoft YaHei', sans-serif;
  font-weight: 700;//900ã¾ã§ã‚ã‚‹
}
.noto_200 {
  font-family: 'Microsoft YaHei', sans-serif;
  /*font-family: 'Noto Sans JP', sans-serif;*/
  //font-weight: 200;
  font-weight: 300;
}
.noto_300 {
  font-family: 'Microsoft YaHei', sans-serif;
  /*font-family: 'Noto Sans JP', sans-serif;*/
  //font-weight: 300;
  font-weight: 400;
}

.poppin_l {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}
.poppin_n {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.poppin_b {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.poppin_200 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.poppin_300 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

@media screen and (min-width: 751px) {

.sp {
	display: none;
}

#bg_can {
	position: fixed;
}
#page {
	position: relative;
  /*display: none;*/
}
#loader {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1;
}
#loader .wrpr {
  position: absolute;
  top:50%;
  left:50%;
}
#loader .wrpr  .loader {
  position: absolute;
  top:-24px;
  left:-24px;
}
#loader .wrpr  p {
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  font-size:16px;
  top:55px;
  left:-50px;
  width:100px;
}

header#masthead {}
header#masthead .navigation-top {}
header#masthead .navigation-top .hdr_menu {
	text-align:center;
	padding:28px 0 25px 0;
}
header#masthead .navigation-top .hdr_menu  li {
  position: relative;
	display: inline-block;
	margin:0 19px;
}
header#masthead .navigation-top .hdr_menu  li.sp {
  display: none;
}
header#masthead .navigation-top .hdr_menu  li a {}
header#masthead .navigation-top .hdr_menu  li a .ja {
	color:#000000;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 300;
	font-size:14px;
	letter-spacing: 0.05em;
	line-height: 1em;
	margin:0 0 9px 0;
}
header#masthead .navigation-top .hdr_menu  li a .en {
	color:#23aaff;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size:12px;
	letter-spacing: 0.05em;
	line-height: 1em;
	text-transform: uppercase;
}
header#masthead .navigation-top .hdr_menu li a .line {
  position: absolute;
  top:48px;
  width:0%;
  height:3px;
  background-color: #23aaff;
  -web-kit-transition:all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition :all 0.25s ease-out;
  -ms-transition :all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
header#masthead .navigation-top .hdr_menu li a:hover .line {
  width:100%;
}

header .sns {
  position: fixed;
  z-index: 100;
  top:0px;
  right:0px;
  height:100%;
  margin:0 36px 0 0;
}
header .sns .wrpr {
  position: absolute;
  top:50%;
  right:0px;
  transform: translate(0,-50%);
  overflow: hidden;
}
header .sns .wrpr  h4 {
  transform: rotate(90deg) translate(50%, 0);
  margin: 0px -7px 0 0;
}
header .sns .wrpr hr {
  border: none;
  width: 1px;
  height: 50px;
  background-color: #000;
  /*margin: 47px 18px 26px 19px;*/
  margin: 47px 0 26px 35px
}
header .sns .wrpr ul li {
  text-align: left;
  margin: 0 0 20px 10px;
}
header .sns .wrpr ul li a {
	padding: 10px;
	display: block;
}
header .sns .wrpr ul li .icon {
  position: relative;

}
header .sns .wrpr ul li .icon .def {
  transition: all 0.25s ease-out;
}
header .sns .wrpr ul li .icon .hvr {
  transition: all 0.25s ease-out;
  opacity: 0;
  position: absolute;
  top:0;
  left: 0;
}
header .sns .wrpr ul li .icon.hvr .def {
  opacity: 0;
}
header .sns .wrpr ul li .icon.hvr .hvr {
  opacity:1;
}
header .sns .wrpr ul li:nth-child(2) {
  margin-left: 12px;
}
     
header .copyright {
  position: fixed;
  top:50%;
  left:0px;
  z-index: 100;
}
header .copyright  .wrpr {
  transform: translate(0,-50%);
}
header .copyright  .wrpr  p {
  transform: rotate(-90deg) translate(0, -136px);
  font-size:12px;
}



/****************** in page header ********************/
header#header_sub {
	width:220px;
	margin: 0 0 60px 0;
	float:left;
}
header#header_sub .navigation-top {
	padding: 40px 0 0 0;
}
header#header_sub .navigation-top h1 {
	margin:0 0 25px 0;
  padding-left: 0px;
}
header#header_sub .navigation-top .pickup_news {
  margin-bottom: 35px;
}
header#header_sub .navigation-top .pickup_news .line {
  position: relative;
  display: block;
  color: #fff;
  font-size: 21px;
  font-weight: 200;
  line-height: 1em;
  padding:5px 0 6px 32px;
  margin-bottom: 5px;
}
header#header_sub .navigation-top .pickup_news .line .txt {
  position: relative;
  z-index: 2;
  opacity: 0;
  -web-kit-transition:all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  -o-transition :all 0.75s ease-out;
  -ms-transition :all 0.75s ease-out;
  transition: all 0.75s ease-out;
}
header#header_sub .navigation-top .pickup_news .line .txt.anim {
  opacity:1;
}
header#header_sub .navigation-top .pickup_news .line .bg {
  position: absolute;
  top:0;
  left:0;
  width: 0%;
  height: 100%;
  background-color: #000;
  -web-kit-transition:all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition :all 0.25s ease-out;
  -ms-transition :all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
header#header_sub .navigation-top .pickup_news .line .bg.anim {
  width:100%;
}
header#header_sub .navigation-top .hdr_menu {
	padding:0 0 40px 0;
}
header#header_sub .navigation-top .hdr_menu  li {
  position: relative;
  padding: 0 0 0 50px;
  margin: 0 0 18px 0;
}
header#header_sub .navigation-top .hdr_menu  li.crnt .line {
  position: absolute;
  top:0;
  left:0;
  background-color: #23aaff;
  width:5px;
  height: 100%;
}
header#header_sub .navigation-top .hdr_menu  li a {}
header#header_sub .navigation-top .hdr_menu  li a .ja {
	color:#000000;
	font-family: 'Microsoft YaHei', sans-serif;
	font-weight: 500;
	font-size:15px;
	letter-spacing: 0.05em;
	line-height: 1em;
	margin:0 0 7px 0;
}
header#header_sub .navigation-top .hdr_menu  li a .en {
	color:#23aaff;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size:12px;
	letter-spacing: 0.05em;
	line-height: 1em;
	text-transform: uppercase;
}
header#header_sub #menu_banner {}
header#header_sub #menu_banner ul.bnr_list {}
header#header_sub #menu_banner ul.bnr_list li {
	margin: 0 0 10px 0;
	overflow: hidden;
	background-color:#41beff;
}
header#header_sub #menu_banner ul.bnr_list li img {
	float:left;
}
header#header_sub #menu_banner ul.bnr_list li .arrow {
	float: left;
	padding:39px 12px 0 12px;
}

.page-header .title_area h3.poppin_l {
  filter: blur(10px);
  opacity: 0;
  -webkit-transition:all 0.33s ease-out;
  -moz-transition: all 0.33s ease-out;
  -o-transition :all 0.33s ease-out;
  -ms-transition :all 0.33s ease-out;
  transition: all 0.33s ease-out;
}
.page-header .title_area h3.poppin_l.anim {
  filter: blur(0px);
  opacity:1;
}
.page-header .title_area .jp {
  opacity:0;
  -webkit-transition:all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  -o-transition :all 0.75s ease-out;
  -ms-transition :all 0.75s ease-out;
  transition: all 0.75s ease-out;
}
.page-header .title_area .jp.anim {
  opacity:1;
}

.in-site-content #primary {
  opacity: 0;
  /*transform: translate(0px,50px);*/
  -webkit-transition:all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  -o-transition :all 0.75s ease-out;
  -ms-transition :all 0.75s ease-out;
  transition: all 0.75s ease-out;
}
.in-site-content #primary.anim {
  opacity:1;
  /*transform: translate(0px, 0px);*/
}



/************************* footer ***************************/

footer#colophon {
	clear: both;
}
footer#colophon hr {
	border: none;
	padding: 0;
	margin:0 0 1px 0;
	border-top: 1px solid #23aaff;
}
footer#colophon .wrpr {
	padding: 45px 0 50px 0;
	width:1360px;
	margin: 0 auto;
}
footer#colophon .wrpr .ftr_menu {
	text-align:center;
	/*width:730px;*/
	padding:0 0 25px 0;
}
footer#colophon .wrpr .ftr_menu  li {
	display: inline-block;
	/*width: 180px;
	margin:0 0 22px 0;*/
  margin: 0 20px 22px 20px;
}
footer#colophon .wrpr .ftr_menu  li a {}
footer#colophon .wrpr .ftr_menu  li a .ja {
	color:#000000;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 300;
	font-size:14px;
	letter-spacing: 0.05em;
	line-height: 1em;
	margin:0 0 9px 0;
}
footer#colophon .wrpr .ftr_menu  li a .en {
	color:#23aaff;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size:12px;
	letter-spacing: 0.05em;
	line-height: 1em;
	text-transform: uppercase;
} 
footer#colophon .wrpr .ftr_logo {
  width: 151px;
  margin: 0 auto;
}
footer#colophon .wrpr .copyright {
  text-align: center;
}
footer#colophon .wrpr .copyright .wrpr {
  padding:30px 0 50px 0;
}
#to_top {
	position: fixed;
    bottom:30px;
    right:30px;
    opacity:0;
    z-index: 200;
    transform: translate(0,50px);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
#to_top .icon {
    position: relative;
}
#to_top .icon .def {
    transition: all 0.25s ease-out;
}
#to_top .icon .hvr {
	transition: all 0.25s ease-out;
	opacity: 0;
	position: absolute;
	top:0;
	left: 0;
}
#to_top .icon.hvr {}
#to_top .icon.hvr .def {
	opacity:0;
}
#to_top .icon.hvr .hvr {
	opacity: 1;
}
#to_top.show {
	opacity:1;
	-webkit-transform: translate(0,0);
	-moz-transform: translate(0,0);
	-ms-transform: translate(0,0);
	-o-transform: translate(0,0);
	transform: translate(0,0);
}

}





@media screen and (max-width: 750px) {

#loader {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
#loader .wrpr {
  position: absolute;
  top:50%;
  left:50%;
}
#loader .wrpr .loader {
  position: absolute;
  top:-48px;
  left:-48px;
  width: 96px;
  height: 96px;
}
#loader .wrpr .loader img {
  width: 100%;
  height: auto;
}
#loader .wrpr p {
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  font-size:24px;
  top:110px;
  left:-50px;
  width:100px;
}

.pc {
	display: none;
}
.scl {
	width:100%;
	height: auto;
}

#bg_can {
  position: fixed;
}
#page {
  position: relative;
  /*display: none;*/
}
.page_logo {
	width:29.333%;
	margin:5.866% 0 7.333% 6.666%;
}
#page .pickup_news {
  background-color: #000;
  text-align: center;
  padding: 0;
}
#page .pickup_news .line {
  display: inline-block;
  text-align: center;
}
#page .pickup_news .line .txt {
  font-size: 38px;
  color:#fff;
  line-height: 1.65em;
}
header#masthead {
	/*display: none;*/
	position: fixed;
	top:0;
	left:0;
	z-index:10000;
	width:100%;
	background-color: #fff;
  background-image:url(../images/common_sp/menu_bg.jpg);
  background-size:cover;
	/**/
	height:0%;
	overflow:scroll;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
header#masthead.open {
	height:100%;
}
header#masthead .navigation-top {
	min-height: 100%;
}
header#masthead .navigation-top .hdr_menu {
  text-align:center;
  padding:26.666% 0 0 0;
}
header#masthead .navigation-top .hdr_menu  li {
  display: block;
  margin:0 0 49px 0;
  text-align:center;
}
header#masthead .navigation-top .hdr_menu  li a {}
header#masthead .navigation-top .hdr_menu  li a .ja {
  color:#fff;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size:34px;
  letter-spacing: 0.05em;
  line-height: 1em;
  margin:0 0 15px 0;
}
header#masthead .navigation-top .hdr_menu  li a .en {
  color:#fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size:22px;
  letter-spacing: 0.05em;
  line-height: 1em;
  text-transform: uppercase;
} 
header#masthead .sns {
	margin-bottom: 26.666%;
}
header#masthead .sns .wrpr {
	text-align: center;
}
header#masthead .sns .wrpr h4 {
	font-size:24px;
	letter-spacing: 0.05em;
	line-height: 1em;
	margin: 0 0 3.2% 0;
}
header#masthead .sns .wrpr hr { display: none;  }
header#masthead .sns .wrpr ul {
	vertical-align: top;
}
header#masthead .sns .wrpr ul li {
	display: inline-block;
	width: 14.933%;
	margin:0 2.666%;
}

#menu_btn {
  position: fixed;
  top:0;
  right:0;
  z-index:100004;
  margin:7.6% 6.666% 0 0;
  width:9.333%;
}
#menu_btn a {
  display: block;
}
#menu_btn span {
  display:block;
  width:100%;
  height: 2px;
  margin: 0 0 32.857% 0;
  background-color:#000;
  -webkit-transition:all 0.25s ease-out;
  -moz-transition:all 0.25s ease-out;
  -ms-transition:all 0.25s ease-out;
  -o-transition:all 0.25s ease-out;
  transition:all 0.25s ease-out;
}
#menu_btn.close span:nth-child(1) {
  transform: translate(0,25px) rotate(45deg);
  background-color: #fff;
}
#menu_btn.close span:nth-child(2) {
  opacity: 0;
}
#menu_btn.close span:nth-child(3) {
  transform: translate(0,-25px) rotate(-45deg);
  background-color: #fff;
}

/****** header sub ****/
header#header_sub {
	/*display: none;*/
	position: fixed;
	top:0;
	left:0;
	z-index:100003;
	width:100%;
	background-color: #fff;
  background-image:url(../images/common_sp/menu_bg.jpg);
  background-size:cover;
	/**/
	height:0%;
	overflow:scroll;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
header#header_sub.open {
	height:100%;
}
header#header_sub .navigation-top {
	min-height: 100%;
}
header#header_sub .navigation-top .hdr_menu {
  text-align:center;
  padding:26.666% 0 0 0;
}
header#header_sub .navigation-top .hdr_menu  li {
  display: block;
  margin:0 0 49px 0;
  text-align:center;
}
header#header_sub .navigation-top .hdr_menu  li a {}
header#header_sub .navigation-top .hdr_menu  li a .ja {
  color:#ffffff;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size:34px;
  letter-spacing: 0.05em;
  line-height: 1em;
  margin:0 0 15px 0;
}
header#header_sub .navigation-top .hdr_menu  li a .en {
  /*color:#23aaff;*/
  color:#ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size:22px;
  letter-spacing: 0.05em;
  line-height: 1em;
  text-transform: uppercase;
} 
header#header_sub .sns {
	margin-bottom: 26.666%;
}
header#header_sub .sns .wrpr {
	text-align: center;
}
header#header_sub .sns .wrpr h4 {
	font-size:24px;
	letter-spacing: 0.05em;
	line-height: 1em;
	margin: 0 0 3.2% 0;
}
header#header_sub .sns .wrpr hr { display: none;  }
header#header_sub .sns .wrpr ul {
	vertical-align: top;
}
header#header_sub .sns .wrpr ul li {
	display: inline-block;
	width: 14.933%;
	margin:0 2.666%;
}
header#header_sub #menu_banner {
	display: none;
}


footer#colophon {
  width:56%;
  margin: 0 auto 15.2% auto;
}
footer#colophon .wrpr {}
footer#colophon .wrpr .copyright {
  font-size:24px;
  letter-spacing: 0.05em;
  line-height: 1.6em;
}
footer#colophon .wrpr .copyright {
  
}

}