.table{
    table-layout: fixed;
    display: block !important;
}

.table th, .table td {
    text-align: center;
}

.no-filter-control {
    height: 34px;
}

.filter-control {
    margin: 0 2px 2px 2px;
}

.fix-sticky {
    position: fixed;
    z-index: 100;
}
.fix-sticky thead {
    background: #fff;
}

.fix-sticky thead th,
.fix-sticky thead th:first-child {
    text-align: center;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #eee;
    border-radius: 0;
}

.img-thumbnail{
  margin: -20px 0px 0px -15px;
  max-width: 127%;
}

.h2title{
  margin: 4px 0px 2px 2px;
}

.btn-default{
  color: #000;
}

.navbar-default{
  background-image: linear-gradient(to bottom,#2e0bff 0,#0fe9ff 100%);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
  background-image: linear-gradient(to bottom,#14ff0f 0,#bdedbd 100%);
}

.navbar-default .navbar-toggle{
  border-color: #ffffff;
}

.navbar-default .navbar-toggle:hover{
  background-color: #68f666;
}

.navbar-default .navbar-toggle:focus{
  background-color: #2e0bff;
}
