@charset "utf-8";

body{
	line-height: 1.25em;
	color: #660000;
	background: #FFFFFF;
	font-size: 90%;
	_font-family: "ＭＳ Ｐゴシック", sans-serif;
}

h1{
	font-weight: normal;
	width: 60%;
}

h2,h3,h4,h5,h6{
	font-weight: normal;
	width: 58%;
}

h1{
	font-size: 180%;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #CC9999;
}

h2{
	font-size: 160%;
	padding: 3px;
	background: #990000;
	color: #EFEFEF;
}

h3{
	font-size: 120%;
	padding: 3px 5px;
	border-width: 1px 10px;
	border-style: solid;
	border-color: #990000;
}

h4{
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #CC9999;
	margin-right: 10em;
}

a:link{ color: #996666; }
a:visited{ color: #999999; }
a:active, a:hover, a:focus{
	background: #CC9999;
	color: #FFFFFF;
}

em{
	font-weight: bolder;
	font-style: normal;
}

strong{
	font-weight: bolder;
	font-style: normal;
	text-decoration: underline;
}


.title{
}

.navi{
}

.docbody{
}

.pageNavi{
	margin: 2em 0 0 0;
	text-align: right;
	width: 60%;
}

.note{
	font-size: 80%;
	color: #666666;
}

.footer{
	text-align: right;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #CC9999;
}


table{
	table-layout: auto;
	border-collapse: separate;
	empty-cells: show;
	font-size: 90%;
	border-style: solid;
	border-color: #CC9999;
	border-width: 1px 0 0 1px;
	width: 60%;
}

table.ranking{
	width: auto !important;
}

th, td{
	padding: 5px;
}

th{
	background-color: #990000;
	color: #EFEFEF;
	font-weight: bold;
	text-align: center;
}

td{
	border-style: solid;
	border-color: #CC9999;
	border-width: 0 1px 1px 0;
}

.colScore{
	text-align: right;
	align: right;
}

.colVer,
.colRank,
.colDrop,
.colChar,
.colLevel,
.colDate,
.colName,
.colReplay{
}

.colComment{
	text-align: left;
	align: left;
	width: 35%;
}

tr.slowReplay td{
	background: #EEEEEE;
}

.slowDrop {
	color: #003999 !important;
}

td .topScore{
}
td .secondScore{
}
td .thridScore{
}

.pagingLinks {
	margin: 0.5em;
}

dl{
	margin: 1em;
}

a img{
	border-style: none;
}

.lang-en{
	/*display: none;*/
	font-size: 90%;
}
.lang-ja{
}

.deviation{
	font-size: 75%;
	color: #999999 !important;
}

.gads-wide{
	text-align: center;
	margin: 5px;
}
